---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout lang="en">
    <nav class="navbar horizontal-menu navbar-fixed-top">
        <div class="navbar-inner">
            <div class="navbar-brand">
                <a href="/en/" class="logo">
                    <img src="/assets/images/logo_dark@2x.png" width="100%" alt="" class="hidden-xs">
                    <img src="/assets/images/logo@2x.png" width="100%" alt="" class="visible-xs">
                </a>
            </div>
            <div class="navbar-mobile-clear"></div>
            <a href="https://github.com/WebStackPage/WebStackPage.github.io" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
        </div>
    </nav>
    <div class="page-container">
        <div class="main-content" style="">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <!-- About Website -->
                        <h4 class="text-gray">About Website</h4>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <blockquote>
                                        <p>For a while, I found that my bookmarks were getting more and more, and it was difficult to find an infrequently used website. So I created this website. The websites collected here are basically from my browser bookmarks, and some of the ones I use relatively more often are here.</p>
                                        <br>
                                        <p>If you are also a designer, if you also happen to like design, then I hope this website can bring you some benefits.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</MainLayout>